@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root{
  --bg-color: #989899;
  --bg-second-color: #2e3031;
  --text-color: #ffffff;
  --text-second-color: #fc6161;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
}

.cor{
  color: var(--text-second-color);
}

.titulo{
  color: var(--text-color);
  text-align: center;
  font-size: 1.7rem;
}


/*Header*/


.header {
  background-color: var(--bg-second-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

header a {
  color: var(--text-color);
  text-decoration: none;
  padding-right: 1.2em;
  font-size: 1.2rem;
}

header a:hover {
  color: var(--text-second-color);
  transition: 200ms ease-in-out;
}

@media (max-width: 870px) {
  header nav{
    display: none;
  }
}
  

/*Section Principal*/


.name {
  font-size: 4rem;
  text-shadow: 3px 4px 7px rgba(43, 11, 11, 0.8);
}

.home {
  height: 70vh;
  margin: 2rem 0 7rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 2rem;
}

.buttons{
  margin-top: 2rem ;
  width: 37%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.redes{ 
  text-align: center;
  cursor: pointer;
  background-image: linear-gradient(#464d55, #2e3031);
  border-radius: 8px;
  min-width: 25%;
  padding: 1rem;
  color: var(--text-color);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.about{
  background-color: var(--bg-second-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20vw 10rem 20vw;
  padding: 2.5rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.about h2{
  margin-bottom: 1rem;
}

.text{
  font-size: 1.2rem;
}

.typing{
  text-shadow: 3px 4px 7px rgba(43, 11, 11, 0.8);
  animation: blink 1s infinite;
}

@keyframes blink {
  0%{
    border-right: 2px solid #ffffff;
  }

  50%{
    border-right: none;
  }

  100%{
    border-right: 2px solid #ffffff;
  }
}

@media (max-width: 870px) {
  .name{
    font-size: 3rem;
  }

  .titulo{
    font-size: 1.5rem;
  }

  .text{
    font-size: 1rem;
  }

  .typing{
    font-size: 1.5rem;
  }
}
@media (max-width: 670px) {
  .name{
    font-size: 1.7rem;
  }

  .typing{
    font-size: 1.3rem;
  }
}

/* Tecnologias */

.tecnologia{
  font-size: 0.9vw;
  margin: 0 20vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}
.linguagens{
  color: var(--text-color);
  width: 7vw;
  background-color: var(--bg-second-color);
  padding: 1.2rem;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;}

.linguagens:hover{
  transition: 100ms ease-in-out;
  scale: 1.02;
}

@media (max-width: 1050px){
  .tecnologia{
    grid-template-columns: repeat(3, 2fr);
  }
}

@media (max-width: 600px){
  .tecnology-name{
    display: none;
  }
}

/* projetos */

.projetos{
  margin: 10rem 0 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos p{
  margin: 1rem 10rem 2rem 10rem;
  color: var(--text-color);
  font-size: 1rem;
}

.projetos img{
  width: 60vw;
  height: auto;
  border: 10px solid var(--bg-second-color);
  border-radius: 10px;
  margin: 2rem 0 2rem 0;
  cursor: pointer;

}

.projetos h2, h4{
  color: var(--text-color);
  text-align: center;
  font-size: 1.7rem;
}

.projetos h4{
  font-size: 1.5rem;
}

.projetos-pessoais{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

@media (max-width: 800px){
  .projetos h2, h4{
    font-size: 1.5rem;
  }

  .projetos p{
    font-size: 0.7rem;
      margin: 0.5rem 2.5rem 1rem 2.5rem;
    }
  }


@media (max-width: 500px){
  .projetos h2, h4{
    font-size: 1.2rem;
  }
}

/*Footer*/

.footer{
  color: var(--text-color);
  background-color: var(--bg-second-color);
  padding: 2.5rem;
}

.footer h2{
  margin-bottom: 1rem;
  text-align: center;
}


.footer ul{
  list-style-type: none;
}
