@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root{
  --bg-color: #2d2f31;
  --bg-second-color: #222324;
  --text-color: #ffffff;
  --text-second-color: #ff7373;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
}

.cor{
  color: var(--text-second-color);
}


/*Header*/


.header {
  background-color: var(--bg-second-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: var(--text-color);
  text-decoration: none;
  padding-right: 1.2em;
}

header a:hover {
  color: var(--text-second-color);
  transition: 200ms ease-in-out;
}

@media (min-width: 400px){
  .header{
    font-size: 0.9rem;
  }
}

/*Section Principal*/

.name {
  font-size: 4rem;
}

.home {
  height: 70vh;
  margin: 2rem 0 18rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  font-size: 2rem;
}

.buttons{
  margin-top: 2rem ;
  width: 37%;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.github, .linkedin{ 
  transition: 100ms ease-in-out ;
  cursor: pointer;
  min-width: 25%;;
  padding: .7rem;
  color: var(--text-color);
  background-color: #808080;
  border: none;
  border-radius: 10px;
}

.github:hover, .linkedin:hover{
  scale: 1.03;
}

.typing{
  animation: blink 1s infinite;

}

@keyframes blink {
  0%{
    border-right: 2px solid #ffffff;
  }

  50%{
    border-right: none;
  }

  100%{
    border-right: 2px solid #ffffff;
  }
}

@media (max-width: 870px) {
  .name{
    font-size: 3rem;
  }

  .typing{
    font-size: 1.5rem;
  }
}
@media (max-width: 670px) {
  .name{
    font-size: 2rem;
  }

  .typing{
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .name{
    font-size: 1.5rem;
  }

  .typing{
    font-size: 1rem;
  }
}

/* Tecnologias */

.tecnology-name{
  color: var(--text-color);
}

.tecnologia{
  font-size: 0.9vw;
  margin: 0 20vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.5rem;
}
.linguagens{
  width: 7vw;
  background-color: var(--bg-second-color);
  padding: 1.2rem;
  border-radius: 20px;
}

.linguagens:hover{
  transition: 100ms ease-in-out;
  scale: 1.05;
  filter: drop-shadow(5px 5px 10px var(--text-second-color));
}

@media (max-width: 1050px){
  .tecnologia{
    grid-template-columns: repeat(3, 2fr);
  }
}

@media (max-width: 600px){
  .tecnology-name{
    display: none;
  }
}

/* projetos */

.projetos{
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projetos p{
  margin: 1rem 10rem 2rem 10rem;
  color: var(--text-color);
  font-size: 1rem;
}

.projetos article{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.projetos img{
  width: 65vw;
  height: auto;
  border: 10px solid var(--bg-second-color);
  border-radius: 5px;
  margin: 2rem 0 2rem 0;
  cursor: pointer;

}

.projetos h2, h4{
  color: var(--text-color);
  text-align: center;
  font-size: 2.2rem;
}

.projetos h4{
  font-size: 1.5rem;
}

.projetos-pessoais{
  max-width: 1370px;
}

@media (max-width: 800px){
  .projetos h2, h4{
    font-size: 1.5rem;
  }

  .projetos p{
    font-size: 0.7rem;
      margin: 0.5rem 2.5rem 1rem 2.5rem;
    }
  }


@media (max-width: 500px){
  .projetos h2, h4{
    font-size: 1.2rem;
  }
}